@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: 'TT Norms';
  src: url('../fonts/TTNorms-Medium.woff');
  font-weight: 500;
}
