@font-face {
	font-family: "Golos";
	src: url("../fonts/GolosText-Regular.woff2");
	font-weight: normal;
}

@font-face {
	font-family: "Golos";
	src: url("../fonts/GolosText-Medium.woff2");
	font-weight: 500;
}


body {
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	/* Запрет зума текста на телефоне */
	-webkit-text-size-adjust: 100%;
	/* Сглаживание шрифтов */
	-webkit-font-smoothing: antialiased;
}

body.no-scroll {
	height: 100%;
	width: 100%;
	position: fixed;
	overflow: hidden;
}

body * {
	margin: 0px;
	padding: 0px;
	outline: 0;
	background-repeat: no-repeat;
	background-position: center;
	font-weight: normal;
	font-style: normal;
	/* Учёт размеров элементов, включая margin, padding и border */
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	/* Исправляет баг скроллинга на IOS */
	-webkit-overflow-scrolling: touch;
	/* Убирает подсветку элемента при касании на телефоне */
	-webkit-tap-highlight-color: transparent;
	/* Убирает базовые стили браузера */
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;

	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	color: #202020;
}

/* Убирает скругления кнопок на IOS */

input {
	border-radius: 0;
}

/* Удаление кнопок, которые браузер вставляет в input */
input::-ms-reveal,
input::-ms-clear {
	display: none;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	-webkit-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

img {
	border: none;
	/* Запрет перетаскивания изображений */
	-webkit-user-drag: none;
	user-select: none;
}

.page {
	position: relative;
	width: 100%;
	overflow: hidden;
}


/* UI Kit */

/* text */

.h1 {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 50px;
	line-height: 120%;
	letter-spacing: 0.002em;
	color: #202020;
}

.h2 {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 121%;
	letter-spacing: 0.002em;
	color: #202020;
}

.h3 {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 25px;
	line-height: 145%;
	letter-spacing: 0.002em;
	color: #202020;
}

.body-big {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 137%;
	letter-spacing: 0.01em;
	color: #202020;
}

.body-small {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: #202020;
}

.body-regular {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 137%;
	color: #565656;
}

.subholder-reg {
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	color: #565656;
}

/* buttons */

/* small */

.btn-small__fill,
.btn-small__border,
.btn-big__fill,
.btn-big__border,
.btn-big__fill.input input[type="submit"],
.btn-big__border.input input[type="submit"] {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	padding: 0 15px;
	border-radius: 20px;
	background-color: #fff;

	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 1;
	color: #202020;

	cursor: pointer;
	user-select: none;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-big__fill.input input[type="submit"],
.btn-big__border.input input[type="submit"] {
	width: 100%;
}

.btn-small__fill p,
.btn-small__border p {
	display: flex;
	align-items: center;
	justify-content: center;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-small__fill p:before,
.btn-small__border p:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 7px;
	background: url(../img/phone-icon.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-small__border {
	background-color: transparent;
	border: 1px solid #D0D0D0;
}

/* big */

.btn-big__fill,
.btn-big__fill.input input[type="submit"],
.btn-big__border,
.btn-big__border.input input[type="submit"] {
	height: 80px;
	padding: 0 95px;
	border-radius: 40px;
	background-color: #D8261E;
	border: 1px solid #D8261E;
	cursor: pointer;
}

.btn-big__border,
.btn-big__border.input input[type="submit"] {
	border-color: #D0D0D0;
	background-color: transparent;
}

.btn-big__fill p,
.btn-big__border p {
	position: relative;
	display: flex;
	align-items: center;
	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1;
	letter-spacing: 0.01em;
	color: #FFFFFF;

	user-select: none;
	pointer-events: none;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-big__border p {
	color: #202020;
}

.btn-big__fill p:before,
.btn-big__border p:before {
	content: '';
	display: block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	background: url(../img/repeat-icons-light.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-big__fill p:after,
.btn-big__border p:after {
	content: '';
	display: block;
	width: 15px;
	height: 15px;
	margin-left: 10px;
	background: url(../img/arrow-icons-light.svg) center no-repeat;
	-webkit-background-size: contain;
	background-size: contain;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.btn-big__border p:before {
	background-image: url(../img/repeat-icons-dark.svg)
}

.btn-big__border p:after {
	background-image: url(../img/arrow-icons-dark.svg)
}

.btn-big__fill.input,
.btn-big__border.input {
	all: unset;

	display: flex;
	align-items: center;
	justify-content: center;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.btn-big__fill.input p,
.btn-big__border.input p {
	position: absolute;
}

/* input */

.input-box {
	position: relative;
	display: flex;
	align-items: center;
}

.input-box input,
.input-box textarea {
	width: 100%;
	padding: 10px 0;

	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 137%;
	color: #202020;

	border: none;
	background: transparent;
	border-bottom: 1px solid #D0D0D0;
	resize: none;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

#textarea {
	display: block;
	width: 100%;

	-webkit-transition: 0s;
	-moz-transition: 0s;
	-ms-transition: 0s;
	-o-transition: 0s;
	transition: 0s;
}

.input-box span {
	position: absolute;
	right: 0;
	opacity: 0;
	pointer-events: none;
	user-select: none;
	color: #D8261E;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.input-box textarea + span {
	top: 10px;
}

.input-box input.wpcf7-not-valid,
.input-box textarea.wpcf7-not-valid {
	border-color: #D8261E;
	color: #D8261E;
}

.input-box input.wpcf7-not-valid::placeholder,
.input-box textarea.wpcf7-not-valid::placeholder {
	color: #D8261E;
}

.input-box input.wpcf7-not-valid + span,
.input-box textarea.wpcf7-not-valid + span {
	opacity: 1;
}

/* checkbox */

.checkbox {
	display: flex;
	align-items: center;
}

.checkbox input {
	display: none;
}

.checkbox label span {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.checkbox label span span {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	border: 1px solid #D0D0D0;
	border-radius: 6px;
	user-select: none;

	background-position: center center;
	background-repeat: no-repeat;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.checkbox label > span p {
	user-select: none;
}

.checkbox input:checked + span span {
	background-image: url(../img/checked-icon.svg);
	border-color: #D8261E;
	background-color: #D8261E;
}

/* animation */

.animation {
	opacity: 0;
	-webkit-transform: translateY(70px);
	transform: translateY(70px);
	-webkit-transition: 0.5s;
	transition: 0.5s;
}

.animation.animated {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}



/* general */

.container {
	width: 1360px;
	margin: 0 auto;
}

.container.padding {
	padding: 0 40px;
}

/* header */

.header {
	height: 95px;
	display: flex;
	align-items: center;
}

.header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__left-block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.header__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 20px;
}

.header__logo img {
	height: 100%;
	width: auto;
}

.header__nav {
	margin-left: 110px;
}

.header__nav ul {
	display: flex;
	align-items: center;
}

.header__nav li {
	margin-right: 40px;

	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.hover.on a {
	color: #D0D0D0;
}

.header__nav li:last-child {
	margin-right: 0;
}

.header__nav a {
	font-weight: 500;
	color: #202020;
}

.header__right-block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.header__right-block .btn-small__fill {
	background-color: #000;
	color: #fff;
}

.header__btn {
	margin-right: 22px;
	border: none;
}

.header__btn:hover p {
	color: #D8261E;
}

.header__btn:last-child {
	margin-right: 0;
}

/* main section */

.main-section {
	margin-top: 40px;
}

.main-section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.main-section__header-block {
	margin-right: 40px;
}

.main-section__header em {
	font-weight: 500;
	color: #D8261E;
}

.main-section__header-description {
	margin-top: 30px;
	color: #202020;
}

.main-section__btn-box {
	margin-top: 60px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.main-section__btn {
	padding: 0 68px;
}

.main-section__btn p:before {
	display: none;
}

.main-section__img-block {
	position: relative;
}

.main-section__img-box {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 620px;
	height: 618px;

	overflow: hidden;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
}

.main-section__img-box img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main-img-block__text-box {
	position: absolute;
	z-index: 1;
	bottom: 115px;
	left: -64px;
}

.circular text textPath {
	font-size: 9px;
	letter-spacing: 0.118em;
	user-select: none;
}

.circular {
	width: 128px;
	height: 128px;
}

.circular svg {
	display: block;
	overflow: visible;
}

.circular path {
	fill: none;
}

.main-img-block__img {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 29px;
	height: 29px;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.main-img-block__img img {
	width: 100%;
	height: auto;
}

/* control section */

.control-section {
	margin-top: 80px;
}

.control-section .container {
	position: relative;
	padding: 120px 40px;
	border-radius: 80px;
	background-color: #F3F3F3;
	overflow: hidden;
}

.control-section__text {
	position: relative;
	width: 100%;
	max-width: 620px;
	z-index: 2;
}

.control-text__description {
	margin-top: 80px;
}

.control-text__description p {
	margin-top: 20px;

	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 25px;
	line-height: 145%;
	letter-spacing: 0.002em;
	color: #202020;
}

.control-text__description em {
	display: block;
	margin-top: 20px;

	font-family: 'Golos', sans-serif;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 137%;
	color: #565656;
}

.control-text__description p:first-child,
.control-text__description em:first-child {
	margin-top: 0;
}

.control-section__img {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	right: 0;
	top: 0;
	bottom: 0;
}

.control-section__img img {
	height: 100%;
	object-fit: cover;
}

.control-section__img img.mob {
	display: none;
}

/* approach section */

.approach-section {
	margin-top: 120px;
}

.approach-section .h1 {
	text-align: center;
}

.approach-section__content-block {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-top: 40px;
}

.approach-block__box {
	padding: 40px;
	width: 100%;
	max-width: 620px;
	background: #E9F5EE;
	border-radius: 40px;
}

.approach-block__box.red {
	background: rgba(216, 38, 30, 0.05);
}

.approach-box__img-header {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-bottom: 20px;
}

.approach-box__img-header img {
	width: 36px;
	height: 36px;
	object-fit: contain;
	margin-right: 10px;
}

.approach-box__img-header p {
	font-weight: 500;
	font-size: 18px;
	line-height: 137%;
}

.approach-box__text {
	margin-top: 20px;
}

.approach-box__text p {
	color: #565656;
}

.approach-box__more-btn {
	display: none;
}

.approach-section__btn {
	margin-top: 40px;
}

.approach-section__btn p:before {
	display: none;
}


/* how-do section */

.how-do-section {
	margin-top: 140px;
}

.how-do-section h2 {
	text-align: center;
}

.how-do-section__content-block {
	max-width: 840px;
	margin: 0 auto;
	margin-top: 80px;
}

.how-do-block__content-box {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-bottom: 120px;
}

.how-do-block__content-box:last-child {
	margin-bottom: 0;
}

.how-do-block__content-box:nth-child(even) {
	flex-direction: row-reverse;
}

.how-do-box__img-box {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 400px;
	max-height: 260px;
	overflow: hidden;
	-webkit-border-radius: 0 0 40px 40px;
	-moz-border-radius: 0 0 40px 40px;
	border-radius: 0 0 40px 40px;
}

.how-do-box__img-box img {
	max-height: 260px;
	max-width: 100%;
	object-fit: contain;
	user-select: none;
}

.how-do-box-img__bg {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	width: 100%;
	height: 200px;
	z-index: -1;

	background: #F3F3F3;
	-webkit-border-radius: 40px 40px 0 0;
	-moz-border-radius: 40px 40px 0 0;
	border-radius: 40px 40px 0 0;
}

.how-do-box__text-box {
	max-width: 400px;
	margin-top: 60px;
}

.how-do-box__text-box h1,
.how-do-box__text-box h2,
.how-do-box__text-box h3,
.how-do-box__text-box h4,
.how-do-box__text-box h5,
.how-do-box__text-box h6 {
	font-weight: 500;
	font-size: 35px;
	line-height: 121%;
	letter-spacing: 0.002em;
	color: #202020;
}

.how-do-box__text-box strong {
	color: #D8261E;
}

.how-do-box__text-box p {
	margin-top: 10px;

	font-size: 18px;
	line-height: 137%;
	color: #565656;
}

.how-do-text-box__logo-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 25px;
}

.how-do-text-box__logo {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	margin-right: 30px;
}

.how-do-text-box__logo:last-child {
	margin-right: 0;
}

.how-do-text-box__logo img {
	max-height: 100%;
	width: auto;
}

/* info section */

.info-section {
	margin-top: 140px;
}

.info-section__main-container {
	padding: 120px 40px 180px 40px;
	background-color: #F3F3F3;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px 80px 0 0;
}

.info-section__info-block {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 40px;
}

.info-section__info-box {
	width: 100%;
	max-width: 620px;
	margin-bottom: 80px;
}

.info-section__info-box:nth-last-child(-n+2) {
	margin-bottom: 0;
}

.info-section__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

.info-section__img img {
	max-width: 100%;
	max-height: 100%;
}

.info-section__text h1,
.info-section__text h2,
.info-section__text h3,
.info-section__text h4,
.info-section__text h5,
.info-section__text h6 {
	font-weight: 500;
	font-size: 35px;
	line-height: 121%;
	letter-spacing: 0.002em;
	color: #202020;
}

.info-section__text p {
	margin-top: 10px;

	font-size: 18px;
	line-height: 137%;
	color: #565656;
}

.info-section__form-container {
	position: relative;
	margin-top: -80px;
	padding: 120px 40px;
	background: #202020;
	border: 1px solid #D0D0D0;
	border-radius: 80px;
	overflow: hidden;
}

.info-form__text-block {
	position: relative;
	width: 100%;
	max-width: 620px;
	z-index: 1;
}

.info-form__text-block .h2 {
	color: #fff;
}

.info-form__header-description {
	margin-top: 35px;
	color: #D0D0D0;
}

.info-form__form {
	margin-top: 70px;
}

.info-form__form .input-box,
.info-form__form .checkbox {
	margin-bottom: 30px;
}

.info-form__form .checkbox {
	justify-content: center;
}

.info-form__form input {
	color: #fff;
	border-color: #D0D0D0;
}

.info-form__form .checkbox p,
.info-form__form .checkbox p a {
	color: #fff;
}

.info-form__form .checkbox p a {
	text-decoration: underline;
}



.info-form__btn p:before {
	display: none;
}

.info-form__img {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	right: 0;
	bottom: 0;
	top: 0;
	height: 100%;
	width: auto;
}

.info-form__img:before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	background: linear-gradient(90.27deg, #202020 6.22%, rgba(32, 32, 32, 0) 55.76%);
}

.info-form__img img {
	height: 100%;
	width: auto;
}


/* features section */

.features-section {
	margin-top: 140px;
}

.features-section .h1 {
	text-align: center;
}

.features-section__content-block {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	flex-wrap: wrap;
	max-width: 840px;
	margin: 0 auto;
	margin-top: 60px;
}

.features-content__box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	max-width: 400px;
}

.features-content__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	margin-right: 20px;
}

.features-content__img img {
	max-width: 100%;
	max-height: 100%;
}

.features-content__box p {
	font-size: 18px;
	line-height: 137%;
}

.features-content__box {
	margin-bottom: 60px;
}

.features-content__description {
	width: 100%;
	margin-bottom: 40px;
	text-align: center;
	font-weight: 500;
}

.features-content__btn {
	width: 100%;
}

.features-content__btn p:before {
	display: none;
}

/* video section */

.video-section {
	margin-top: 140px;
}

.video-section .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.video-section__text-block {
	max-width: 530px;
}

.video-text__box {
	margin-top: 40px;
}

.video-text__box strong {
	font-weight: 500;
	font-size: 25px;
	line-height: 145%;
	letter-spacing: 0.002em;
}

.video-text__box p {
	margin-top: 20px;
	font-size: 18px;
	line-height: 137%;
	color: #565656;
}

.video-section__btn {
	margin-top: 40px;
	padding: 0 15px;
	max-width: 401px;
}

.video-section__btn p {
	font-weight: 500;
}

.video-section__btn p:after {
	display: none;
}

.video-section__btn p:before {
	width: 20px;
	height: 20px;
	margin-right: 20px;
	background-image: url(../img/certificate-icon-dark.svg);
}

.video-section__video-block {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 620px;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	overflow: hidden;
	cursor: pointer;
}

.video-section__video-block > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.video-poster__btn {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	bottom: 80px;
	right: 0;
	left: 0;
}

.video-poster__btn img,
.video-poster__btn svg {
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.video-poster__btn svg #path-1,
.video-poster__btn svg #path-2 {
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.video-poster__btn p {
	font-size: 18px;
	line-height: 137%;
	letter-spacing: 0.01em;
	color: #fff;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.pop-up-video .pop-up-content {
	position: relative;
	width: 100%;
	max-width: 1280px;
	height: 720px;
	padding: 0;
	overflow: hidden;
}

.pop-up-video .pop-up-content video,
.pop-up-video .pop-up-content iframe {
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
	width: 100%;
	height: 100%;
}

.close-pop-up {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 50px;
	right: 50px;
	z-index: 50;
	width: 25px;
	height: 25px;
	cursor: pointer;
}

.close-pop-up img,
.close-pop-up svg {
	max-width: 100%;
	max-height: 100%;
}

svg path {
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

/* questions section */

.questions-section {
	margin-top: 120px;
}

.questions-section .container {
	padding: 120px 0;
	background: #F3F3F3;
	border-radius: 80px;
}

.questions-section .h1 {
	text-align: center;
}

.questions-section__block {
	max-width: 840px;
	margin: 0 auto;
	margin-top: 40px;
}

.questions-section__box {
	margin-bottom: 20px;

	background: #FFFFFF;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.05);
	border-radius: 40px;
	overflow: hidden;
}

.questions-box__question {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 40px;
	min-height: 80px;

	cursor: pointer;
}

.questions-box__question p {
	width: 100%;
	max-width: 580px;

	font-weight: 500;
	color: #202020;
	user-select: none;
}

.questions-box__lines {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;

	user-select: none;
}

.questions-line {
	position: absolute;
	width: 20px;
	height: 4px;
	background-color: #D0D0D0;

	-webkit-transition: 0.2s;
	transition: 0.2s;

	user-select: none;
}

.questions-line.two {
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
}

.questions-box__answer {
	display: none;
	width: 100%;
	max-width: 580px;
	padding: 25px 40px;
	padding-bottom: 15px;
}

.questions-box__answer p {
	font-size: 14px;
	line-height: 140%;
	color: #565656;
	margin-top: -30px;
}

.questions-section__box.active .questions-line {
	background-color: #D8261E;
}

.questions-section__box.active .questions-line.two {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	-o-transform: rotate(180deg);
	transform: rotate(180deg);
}

.questions-block__hidden-questions {
	display: none;
}

.questions-block__btn {
	margin-bottom: 20px;
}

.questions-block__btn:last-child {
	margin-bottom: 0;
}

.questions-block__btn p:after,
.questions-block__btn p:before {
	display: none;
}


/* slider section */

.slider-section {
	margin-top: 140px;
}

.slider-section .h1 {
	text-align: center;
}

.slider {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	margin-top: 40px;
	overflow: visible;
}

.slick-list,
.slick-track {
	overflow: visible;
}

.slick-arrow {
	z-index: 50;
}

.slide {
	position: relative;
	width: 840px;
	margin: 0 20px;
	opacity: 0.6;
	pointer-events: none;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.slide:before {
	content: '';
	display: block;
	position: absolute;
	width: 30px;
	height: 20px;
	bottom: -18px;
	left: 40px;
	z-index: -1;
	background: url(../img/figure-for-slide.svg) center no-repeat transparent;
	-webkit-background-size: contain;
	background-size: contain;
	opacity: 0;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.slick-current {
	opacity: 1;
	pointer-events: auto;
}

.slick-current:before {
	opacity: 1;
}

.slide-content {
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	min-height: 500px;

	background-color: #F3F3F3;
	border-radius: 40px;
	overflow: hidden;
}

.slide__left-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 440px;
	padding: 40px;
}

.slide__text p {
	font-size: 18px;
	line-height: 137%;
	color: #565656;
	margin-bottom: 20px;
}

.slide__text p:last-child {
	margin-bottom: 0;
}

.slide__info {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-end;
}

.slide__name {
	font-weight: 500;
}

.slide__social {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-top: 10px;
}

.slide__social:before {
	content: '';
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	margin-right: 10px;

	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: contain;
	background-size: contain;

	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.slide__social.insta:before {
	background-image: url(../img/instagram-icon-gray.svg);
}

.slide__right-box {
	max-width: 400px;
}

.slide__img-box {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 10px;
	height: 245px;
}

.slide__img-box:last-child {
	margin-bottom: 0;
}

.slide__img {
	width: 100%;
	height: 100%;
	flex-grow: 1;
	margin-right: 10px;
}

.slide__img:last-child {
	margin-right: 0;
}

.slide__img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider__btns {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 40px;
}

.slider__dots-block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.slider__dots-box {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.slider__dots-box .slick-dots {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.slider__dot {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.dot__user {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;

	border: 4px solid #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.dot__user img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.dot__circle {
	position: absolute;
	top: -4px;
	right: -4px;
	left: -4px;
	bottom: -4px;
}

.dot__circle svg {
	width: 100%;
	height: 100%;
}

.slider__dots-number {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	background-color: #F3F3F3;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	user-select: none;

	font-size: 18px;
	line-height: 137%;
	color: #565656;
}

.slider__dots-box .slick-dots li:nth-child(1) {
	z-index: 5;
}

.slider__dots-box .slick-dots li:nth-child(2) {
	-webkit-transform: translateX(-15px);
	transform: translateX(-15px);
	z-index: 4;
}

.slider__dots-box .slick-dots li:nth-child(3) {
	-webkit-transform: translateX(-30px);
	transform: translateX(-30px);
	z-index: 3;
}

.slider__dots-box .slick-dots li:nth-child(4) {
	-webkit-transform: translateX(-45px);
	transform: translateX(-45px);
	z-index: 2;
}

.slider__dots-number {
	-webkit-transform: translateX(-60px);
	transform: translateX(-60px);
	z-index: 1;
}

.slider__dots-box .slick-dots li {
	opacity: 0.7;

	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
	transition: 0.4s;
}

.slider__dots-box .slick-dots li.slick-active {
	opacity: 1;
	z-index: 6;
}

.slider__dots-box .slick-dots li.slick-active circle {
	stroke-dasharray: 239, 239;

	-webkit-transition: 5s;
	-moz-transition: 5s;
	-ms-transition: 5s;
	-o-transition: 5s;
	transition: 5s;
	transition-timing-function: linear;
}

.slider__arrows-block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.arrow {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 80px;
	border: 1px solid #D0D0D0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;

	cursor: pointer;
}

.prev-arrow {
	margin-right: 20px;
}


/* form section */

.form-section {
	margin-top: 140px;
}

.form-section .info-section__form-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 0;
}

.form-section .h1 {
	color: #ffffff;
}

.form-section__img {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 620px;
	margin-right: 40px;
	padding: 40px;
}

.form-section__img img {
	max-width: 100%;
	height: auto;
}

.form-section .info-form__text-block {
	flex-grow: 1;
}


/* footer */

.footer {
	padding-top: 40px;
	padding-bottom: 45px;
}

.footer__top-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.footer-top__left-block {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.footer-top-left__link {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	margin-right: 55px;
	color: #202020;
}

.footer-top-left__link p {
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.footer-top-left__link:last-child {
	margin-right: 0;
}

.footer-link__img {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;

	margin-right: 10px;
}

.footer-link__img img,
.footer-link__img svg {
	max-width: 100%;
	max-height: 100%;
}

.footer-top__right-block {
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.footer-top-right__link {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin-left: 80px;
}

.footer-top-right__link p {
	font-weight: 500;
	color: #202020;

	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.footer-top-right__link:first-child {
	margin-left: 0;
}

.footer .hover.on,
.footer .hover.on p {
	color: #D0D0D0;
}

.footer .hover.on svg path {
	fill: #D0D0D0;
}

.footer .hover.phone.on svg path {
	fill: none;
	stroke: #D0D0D0;
}

.footer-top-right__btn-to-top {
	margin-left: 100px;

	font-weight: 500;
	color: #202020;

	cursor: pointer;
	-webkit-transition: 0.4s;
	transition: 0.4s;
}

.footer-top__mob-block {
	display: none;
}

.footer__bot-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 30px;
}

.footer__bot-block p {
	color: #565656;
}


/* pop-up */

.pop-up-wrapper {
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;

	opacity: 0;
	pointer-events: none;

	-webkit-transition: 0.7s;
	-moz-transition: 0.7s;
	-ms-transition: 0.7s;
	-o-transition: 0.7s;
	transition: 0.7s;
}

.pop-up-wrapper.active {
	opacity: 1;
	pointer-events: auto;
}

.pop-up-container.active {
	opacity: 1;
	pointer-events: auto;
}

.pop-up-block {
	position: absolute;
	display: -ms-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
}

.pop-up {
	width: 100%;
	max-height: 100%;
	overflow: auto;
}

.pop-up-content {
	position: relative;
	margin: 50px auto;
	padding: 80px 180px;
	max-width: 920px;
	background-color: #fff;
	-webkit-border-radius: 80px;
	-moz-border-radius: 80px;
	border-radius: 80px;
}

.pop-up-content .main-section__header {
	text-align: center;
}

.pop-up-content form {
	width: 100%;
	margin-top: 60px;
}

.pop-up-content .input-box {
	margin-bottom: 30px;
}

.pop-up-content__btn p:before {
	display: none;
}

.pop-up-content .checkbox {
	justify-content: center;
	margin-bottom: 30px;
}

.pop-up-content .checkbox p a {
	text-decoration: underline;
}

.pop-up-thanks .pop-up-content {
	padding: 80px 120px;
	padding-bottom: 0;
}

.pop-up-content__description {
	margin-top: 20px;
	text-align: center;
	color: #202020;
}

.pop-up-content__img-block {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 60px;
}

.pop-up-content__img {
	display: flex;
	align-items: flex-end;
	justify-content: center;
	width: 260px;
	margin-right: 80px;
}

.pop-up-content__img img {
	width: 100%;
	height: auto;
	user-select: none;
}

.pop-up-thanks .pop-up-content__btn {
	padding: 0 30px;
}

.pop-up-thanks .pop-up-content__btn p:before {
	display: flex;
	background-image: url(../img/instagram-icon-light.svg);
}

.pop-up-thanks .pop-up-content__btn p:after {
	display: none;
}


/* hovers */

@media screen and (min-width: 1000px){
	.btn-small__fill:hover {
		background-color: #D8261E;
		color: #fff;
	}

	.btn-small__border:hover {
		border-color: #D8261E;
	}

	.btn-big__fill:hover,
	.btn-big__fill.input:hover input[type="submit"] {
		background-color: #B91A12;
	}

	/*.btn-big__fill:hover,*/
	/*.btn-big__fill.input:hover input[type="submit"] {*/
	/*	background-color: transparent;*/
	/*}*/

	/*.btn-big__fill:hover p {*/
	/*	color: #D8261E;*/
	/*}*/

	/*.btn-big__fill:hover p:before {*/
	/*	background-image: url(../img/repeat-icons.svg);*/
	/*}*/

	/*.btn-big__fill:hover p:after {*/
	/*	background-image: url(../img/arrow-icons.svg);*/
	/*}*/

	.btn-big__border:hover,
	.btn-big__border.input:hover input[type="submit"] {
		border-color: #202020;
		background-color: #202020;
	}

	.btn-big__border:hover p {
		color: #fff;
	}

	.btn-big__border:hover p:before {
		background-image: url(../img/repeat-icons-light.svg);
	}

	.btn-big__border:hover p:after {
		background-image: url(../img/arrow-icons-light.svg);
	}

	.input-box:hover input::placeholder,
	.input-box:hover textarea::placeholder {
		color: #202020;
	}

	.input-box input:focus,
	.input-box textarea:focus {
		border-color: #202020;
	}

	.checkbox label:hover span {
		border-color: #D8261E;
	}

	.header__right-block .btn-small__fill:hover {
		background-color: #D8261E;
	}

	.info-form__form .input-box:hover input::placeholder {
		color: #fff;
	}

	.info-form__form .input-box input:focus {
		border-color: #fff;
	}

	.info-form__form .checkbox p a:hover {
		color: #D8261E;
	}

	.video-section__video-block:hover #path-1 {
		fill: #B91A12;
	}

	.close-pop-up:hover path {
		fill: #D8261E;
	}

	.questions-box__question:hover .questions-line {
		background-color: #D8261E;
	}

	.slide__social:hover {
		color: #D8261E;
	}

	.arrow:hover {
		background-color: #202020;
	}

	.arrow:hover svg path {
		fill: #fff;
	}

	.footer-top-right__btn-to-top:hover {
		color: #D8261E;
	}

	.pop-up-content .checkbox p a:hover {
		color: #D8261E;
	}
}