@font-face {
    font-family: 'Evolventa';
    src: url('../fonts/Evolventa-Regular.woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Evolventa';
    src: url('../fonts/Evolventa-Bold.woff');
    font-weight: bold;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-ExtraBold.woff');
    font-weight: bold;
}
