body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* Запрет зума текста на телефоне */
  -webkit-text-size-adjust: 100%;
  /* Сглаживание шрифтов */
  -webkit-font-smoothing: antialiased;
}

body.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

body * {
  margin: 0px;
  padding: 0px;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: normal;
  font-style: normal;
  /* Учёт размеров элементов, включая margin, padding и border */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Исправляет баг скроллинга на IOS */
  -webkit-overflow-scrolling: touch;
  /* Убирает подсветку элемента при касании на телефоне */
  -webkit-tap-highlight-color: transparent;
  /* Убирает базовые стили браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Убирает скругления кнопок на IOS */
input {
  border-radius: 0;
}

/* Удаление кнопок, которые браузер вставляет в input */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

img {
  border: none;
  /* Запрет перетаскивания изображений */
  -webkit-user-drag: none;
}

body * {
  font-family: 'Evolventa', sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  color: #000;
}

.page {
  position: relative;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.comp-list__top-hidden-items,
.comp-list__bottom-hidden-items {
  display: none;
}

@media screen and (min-width: 1280px) {
  .main-page {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    position: relative;
    z-index: 99999;
    background-color: #fff;
    perspective: 1000px;
  }

  .main-page.active {
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: 0.6s;
    -o-transition: 0.6s;
    transition: 0.6s;
  }

  .main-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }

  .main__logo-img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 663px;
    height: 303px;
    margin-bottom: 63px;
  }

  .main__logo-img svg {
    width: auto;
    height: 100%;
  }

  .main__logo-img svg path:first-child {
    -webkit-animation: logoName 5s infinite;
    animation: logoName 5s infinite;
  }

  .main__logo-img svg path:nth-child(2) {
    -webkit-animation: line-1 5s ease infinite;
    animation: line-1 5s ease infinite;
  }

  .main__logo-img svg path:nth-child(3) {
    -webkit-animation: textGradient 5s ease infinite;
    animation: textGradient 5s ease infinite;
  }

  .main__logo-img svg path:nth-child(5) {
    -webkit-animation: triangleBot 5s ease-out infinite;
    animation: triangleBot 5s ease-out infinite;
  }

  .main__logo-img svg path:nth-child(6) {
    -webkit-animation: triangleTop 5s ease-out infinite;
    animation: triangleTop 5s ease-out infinite;
  }

  .main__logo-img svg path:nth-child(7) {
    -webkit-animation: line-2 5s ease infinite;
    animation: line-2 5s ease infinite;
  }

  .main__logo-img svg path:last-child {
    -webkit-animation: line-3 5s ease infinite;
    animation: line-3 5s ease infinite;
    -webkit-transform-origin: center center;
    -moz-transform-origin: center center;
    -ms-transform-origin: center center;
    -o-transform-origin: center center;
    transform-origin: center center;
  }

  @keyframes logoName {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    25%,75% {
      -webkit-transform: translateX(10%);
      -ms-transform: translateX(10%);
      transform: translateX(10%);
    }

    75% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @keyframes textGradient {
    0% {
      fill: #141515;
    }

    25% {
      fill: #9A2384;
    }

    50% {
      fill: #000000;
    }
    75% {
      fill: #545454;
    }
    100% {
      fill: #141515;
    }
  }

  @keyframes triangleBot {
    0% {
      -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }

    25% {
      -webkit-transform: translateY(15%) rotate(360deg);
      -ms-transform: translateY(15%) rotate(360deg);
      transform: translateY(15%) rotate(360deg);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }

    75% {
      -webkit-transform: translateY(15%) rotate(0deg);
      -ms-transform: translateY(15%) rotate(0deg);
      transform: translateY(15%) rotate(0deg);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }

    100% {
      -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }
  }

  @keyframes triangleTop {
    0% {
      -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }

    25% {
      -webkit-transform: translateY(-15%) rotate(-360deg);
      -ms-transform: translateY(-15%) rotate(-360deg);
      transform: translateY(-15%) rotate(-360deg);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }

    75% {
      -webkit-transform: translateY(-15%) rotate(0deg);
      -ms-transform: translateY(-15%) rotate(0deg);
      transform: translateY(-15%) rotate(0deg);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }

    100% {
      -webkit-transform: translateY(0) rotate(0);
      -ms-transform: translateY(0) rotate(0);
      transform: translateY(0) rotate(0);
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      -o-transform-origin: center center;
      transform-origin: center center;
    }
  }

  @keyframes line-1 {
    0% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    25%, 75% {
      -webkit-transform: translateY(15%);
      -ms-transform: translateY(15%);
      transform: translateY(15%);
    }

    75%, 100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes line-2 {
    0% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }

    25%, 75% {
      -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
      transform: translateY(-10%);
    }

    75%, 100% {
      -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0);
    }
  }

  @keyframes line-3 {
    0% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }

    25%, 75% {
      -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
      transform: translateX(-10%);
    }

    75%, 100% {
      -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
      transform: translateX(0);
    }
  }

  .main__btn {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 55px;
    font-size: 18px;
    line-height: 24px;
    border: 1px solid #000000;
    margin-bottom: 35px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
  }

  .main__btn:hover {
    background-color: #9A2384;
    color: #fff;
    border-color: #9A2384;
  }

  .main__social-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    width: 140px;
  }

  .main__social {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 21px;
    height: 21px;
  }

  .main__social svg {
    width: 100%;
    height: auto;
  }

  .main__social svg path,
  .main__social svg rect {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .main__social:hover svg path {
    fill: #545454;
  }

  .mail-social__tel:hover svg path {
    fill: #ffffff;
  }

  .mail-social__tel:hover svg rect {
    fill: #545454;
  }

  .m-wave {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 803px;
    height: 784px;
    z-index: -2;
  }

  .m-wave img {
    max-width: 100%;
    max-height: 100%;
  }

  .main__left-wave {
    right: 70%;
  }

  .main__right-wave {
    left: 70%;
  }

  /* header */

  .mob-menu {
    display: none;
  }

  .header {
    position: fixed;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    top: 0;
    right: 0;
    left: 0;
    padding-top: 17px;
    padding-right: 66px;
    padding-left: 51px;
    height: 125px;
    z-index: 9999;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }


  .header__logo-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: flex-start;
    -ms-align-items: center;
    align-items: center;
    height: 100%;
  }

  .header__logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 131px;
    margin-right: 42px;
  }

  .header__logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .header__logo img:nth-child(2) {
    display: none;
  }

  .header__logo-name {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header__nav-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
  }

  .header__nav {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    margin-right: 45px;
  }

  .header__btn {
    border: none;
    margin: 0;
    margin-right: 12px;
  }

  .header__btn.active {
    border: 1px solid #000;
    pointer-events: none;
  }

  .header__btn.insta {
    background: #9A2384;
    color: #fff;
  }

  .header__search {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 20px;
    cursor: pointer;
  }

  .header__search svg {
    width: 100%;
    height: auto;
  }

  .header__search svg path {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header__mob-menu {
    display: none;
  }

  /* left container */

  .left-container {
    position: fixed;
    bottom: 0;
    left: 0;
    padding-bottom: 60px;
    padding-left: 69px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
    z-index: 9999;
  }

  .line {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;
    height: 485px;
    position: relative;
  }

  .line::before {
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    top: 15px;
    bottom: -10px;
    left: -9px;
    position: absolute;
    background-color: #ECECEC;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .line__dot span {
    color: #ECECEC;
    position: absolute;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    padding-left: 15px;
    font-size: 18px;
    line-height: 24px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    cursor: pointer;
  }

  .line__dot span:hover {
    color: #9A2384;
  }

  .line__dot.active span {
    font-weight: bold;
    font-size: 30px;
    line-height: 40px;
    color: #9A2384;
    pointer-events: none;
  }

  .line__dot.active span:before {
    background-color: #9A2384;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .line__dot.active span::after {
    content: '';
    display: block;
    width: 190px;
    height: 1px;
    background-color: #9A2384;
    margin-left: 35px;
    cursor: auto;
  }

  .line__dot span:before {
    content: '';
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    left: -12.5px;
    border-radius: 50%;
    background-color: #ECECEC;
  }

  .left-c__social-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
    margin-top: 50px;
  }

  .left-c__social-block .main__social {
    margin: 0;
    margin-top: 30px;
  }

  .left-c__social-block .main__social:first-child {
    margin: 0;
  }

  /* footer */
  .footer {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
    padding-bottom: 50px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .footer .main__social-block {
    display: none;
  }

  .footer__mob-block {
    display: none;
  }

  .footer__box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    -ms-align-items: flex-end;
    align-items: flex-end;
  }

  .footer__img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    margin-bottom: 1.5px;
    margin-right: 15px;
  }

  .footer__img svg {
    width: 100%;
    height: auto;
  }

  .footer__img svg path {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .footer__link-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
  }

  .footer__link {
    font-size: 18px;
    margin-right: 35px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .footer__phone:after {
    content: '';
    display: block;
    width: 100%;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    height: 1px;
    background-color: #000;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .footer__box:hover .footer__phone:after {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }

  .footer__mail path {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .footer__box:hover .footer__mail path {
    fill: #545454;
  }

  .footer__btn {
    width: 199px;
    margin-bottom: 0;
    font-weight: bold;
    position: relative;
    -webkit-animation: pulse linear 3s infinite;
    animation: pulse linear 3s infinite;
    border-color: #9A2384;
    color: #9A2384;
  }

  .footer__btn:hover {
    border-color: #545454;
    color: #fff;
    background-color: #545454;
  }

  @keyframes pulse {
    0% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    5% {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }

    10% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    15% {
      -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
      transform: scale(1.05);
    }

    20% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }

    30%, 100% {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
    }
  }

  .footer__line {
    margin-left: 26px;
    width: 182px;
    height: 1px;
    background-color: #9A2384;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  /* style for scroll */
  body {
    min-height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .scroll-block {
    position: absolute;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    background-color: #fff;
  }

  .left {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
  }

  .top {
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
  }

  .scroll-block.active {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    -webkit-transition: 0.7s, box-shadow 0.1s;
    -o-transition: 0.7s, box-shadow 0.1s;
    transition: 0.7s, box-shadow 0.1s;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  /* blocks-pages */
  .blocks {
    position: absolute;
    top: 0;
    left: 0;
  }

  /* innovation section */
  .innovation-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .inn-container {
    width: 870px;
    margin-bottom: 43px;
    margin-right: 210px;
    position: relative;
  }

  .section__header {
    font-weight: bold;
    font-size: 40px;
    line-height: 53px;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  .section__header-description {
    font-size: 24px;
    line-height: 32px;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .inn-container .section__header.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .inn-container .section__header-description.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .section__header-description strong {
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
  }

  .innovation-section .section__header {
    margin-bottom: 10px;
  }

  .innovation-section .section__header-description {
    margin-bottom: 120px;
  }

  .inn-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 38px;
    -webkit-transform: translateX(-25px);
    -ms-transform: translateX(-25px);
    transform: translateX(-25px);
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
    cursor: pointer;
  }

  .inn-list-item:nth-child(2) {
    -webkit-transition-delay: 1.2s;
    -o-transition-delay: 1.2s;
    transition-delay: 1.2s;
  }

  .inn-list-item:nth-child(3) {
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }

  .inn-list-item.ani {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .inn-list-item:last-child {
    margin-bottom: 0;
  }

  .inn-list-item__img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 46px;
  }

  .inn-list-item img,
  .inn-list-item svg {
    width: 100%;
    height: auto;
  }

  .inn-list-item__name {
    font-weight: bold;
    font-size: 24px;
    line-height: 0.8;
  }

  .inn-img-container {
    position: absolute;
    top: 100px;
    right: 0;
  }

  .inn-img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: none;
  }

  .inn-img img,
  .inn-img svg {
    position: absolute;
    width: 100%;
    height: auto;
  }

  #parallax-img1 {
    width: 205px;
    height: 236px;
    top: -230px;
    right: -550px;
  }

  #parallax-img2 {
    width: 79px;
    height: 91px;
    bottom: -293px;
    right: -176px;
  }

  #parallax-img3 {
    width: 95px;
    height: 100px;
    top: -40px;
    right: -240px;
  }

  #parallax-img4 {
    width: 35px;
    height: 37px;
    bottom: -87px;
    right: -323px;
  }

  #parallax-img5 {
    width: 65px;
    height: 73px;
    top: -95px;
    right: -335px;
  }

  #parallax-img6 {
    width: 316px;
    height: 364px;
    left: -27px;
    top: -74px;
  }

  #parallax-img7 {
    width: 110px;
    height: 125px;
    top: -230px;
    right: -640px;
  }

  #parallax-img8 {
    width: 132px;
    height: 75px;
    bottom: -212px;
    right: -241px;
  }

  #parallax-img9 {
    width: 273px;
    height: 155px;
    bottom: -317px;
    right: -368px;
  }

  #parallax-img10 {
    width: 438px;
    height: 248px;
    right: -600px;
    top: -75px;
  }

  #parallax-img11 {
    width: 195px;
    height: 111px;
    bottom: -441px;
    right: -614px;
  }

  #parallax-img12 {
    width: 142px;
    height: 81px;
    bottom: -386px;
    right: -178px;
  }

  #parallax-img13 {
    width: 319px;
    height: 181px;
    top: -106px;
    right: -749px;
  }

  #parallax-img14 {
    width: 146px;
    height: 166px;
    bottom: -470px;
    right: -650px;
  }

  #parallax-img15 {
    width: 134px;
    height: 152px;
    bottom: -188px;
    right: -712px;
  }

  #parallax-img16 {
    width: 110px;
    height: 127px;
    bottom: -210px;
    right: -600px;
  }

  #parallax-img17 {
    width: 138px;
    height: 158px;
    bottom: -377px;
    right: -475px;
  }

  #parallax-img18 {
    width: 120px;
    height: 139px;
    bottom: -295px;
    right: -590px;
  }

  #parallax-img19 {
    width: 766px;
    height: 435px;
    bottom: -356px;
    right: -1084px;
  }

  #parallax-img20 {
    width: 745px;
    height: 423px;
    bottom: -348px;
    right: -842px;
  }

  #parallax-img21 {
    width: 174px;
    height: 199px;
    bottom: -499px;
    right: -496px;
  }

  #parallax-img22 {
    width: 164px;
    height: 187px;
    bottom: -175px;
    right: -375px;
  }

  #parallax-img-bottom {
    width: 877px;
    height: 898px;
    bottom: -1300px;
    left: -1100px;
    animation: rotate 25s linear infinite;
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
    }

    100% {
      -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  /* weR section */
  .weR-container {
    width: 1500px;
    height: 600px;
    margin-left: 425px;
    margin-top: 78px;
  }

  .weR-container .section__header {
    margin-bottom: 50px;
  }

  .weR-container .section__header-description {
    width: 500px;
  }

  .weR-section.active .section__header.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
  }

  .weR-section.active .section__header-description.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }

  .weR-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    margin-top: -45px;
  }

  .weR-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    width: 655px;
    margin-right: 75px;
    margin-bottom: 70px;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
  }

  .weR-list-item:nth-child(3) {
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
  }

  .weR-list-item:nth-child(4) {
    -webkit-transition-delay: 1.7s;
    -o-transition-delay: 1.7s;
    transition-delay: 1.7s;
  }

  .weR-list-item:nth-child(5) {
    -webkit-transition-delay: 1.9s;
    -o-transition-delay: 1.9s;
    transition-delay: 1.9s;
  }

  .weR-list-item:nth-child(6) {
    -webkit-transition-delay: 2.1s;
    -o-transition-delay: 2.1s;
    transition-delay: 2.1s;
  }

  .weR-section.active .weR-list-item.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .weR-list-item:nth-child(2n+2) {
    margin-right: 0;
  }

  .weR-list-item:nth-last-child(-n+2) {
    margin-bottom: 0;
  }

  .weR-list__img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    min-width: 105px;
    height: 95px;
    margin-right: 37px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .weR-list-item:hover .weR-list__img{
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    transform: rotate(-30deg);
  }

  .weR-list__img img,
  .weR-list__img svg {
    max-width: 100%;
    height: auto;
  }

  .weR-list__name {
    font-size: 18px;
    line-height: 24px;
  }

  #weR-wave {
    width: 1430px;
    height: 283px;
    bottom: -217px;
    left: -200px;
  }

  /* mission section */

  .miss-container {
    width: 1400px;
    height: 600px;
    margin-left: 325px;
    margin-top: 218px;
  }

  .miss-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .miss__header-block {
    width: 470px;
    margin-right: 176px;
  }

  .mission-section .section__header {
    margin-bottom: 30px;
  }

  .mission-section.active .section__header.ani {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .mission-section.active .section__header-description.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
  }

  .miss-list {
    margin-bottom: 94px;
  }

  .miss-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 38px;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 1.3s;
    -o-transition-delay: 1.3s;
    transition-delay: 1.3s;
  }

  .miss-list-item.ani:nth-child(2) {
    -webkit-transition-delay: 1.6s;
    -o-transition-delay: 1.6s;
    transition-delay: 1.6s;
  }

  .miss-list-item.ani:nth-child(3) {
    -webkit-transition-delay: 1.9s;
    -o-transition-delay: 1.9s;
    transition-delay: 1.9s;
  }

  .miss-list-item.ani:nth-child(4) {
    -webkit-transition-delay: 2.2s;
    -o-transition-delay: 2.2s;
    transition-delay: 2.2s;
  }

  .miss-list-item.ani:nth-child(5) {
    -webkit-transition-delay: 2.5s;
    -o-transition-delay: 2.5s;
    transition-delay: 2.5s;
  }

  .mission-section.active .miss-list-item.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .miss-list__img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
    min-width: 55px;
    height: 46px;
    margin-right: 34px;
  }

  .miss-list__img img {
    max-width: 100%;
    max-height: 100%;
  }

  .miss-list__name {
    font-size: 18px;
  }

  .miss__description {
    font-size: 18px;
    line-height: 24px;
    opacity: 0;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
  }

  .mission-section.active .miss__description.ani {
    opacity: 1;
    -webkit-transition-delay: 2.8s;
    -o-transition-delay: 2.8s;
    transition-delay: 2.8s;
  }

  #miss-wave {
    width: 1400px;
    height: 1200px;
    bottom: -875px;
    left: -250px;
    z-index: -1;
  }

  /* competence section  */

  .comp-container {
    width: 1500px;
    height: 520px;
    margin-left: 420px;
  }

  .comp__content-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }

  .comp__header-block {
    width: 470px;
    margin-right: 260px;
  }

  .competence-section .section__header {
    margin-bottom: 35px;
  }

  .competence-section .section__header-description {
    margin-bottom: 55px;
  }

  .comp__btn {
    width: 413px;
    transition-delay: 0s, 0s, 1.5s, 1.5s;
    transition-duration: 0.4s, 0.4s, 0.7s, 0.7s;
    transition-property: background, color, opacity, transform;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
    border-color: #9A2384;
    color: #9A2384;
  }

  .comp__btn:hover {
    border-color: #545454;
    color: #fff;
    background-color: #545454;
  }

  .competence-section.active .section__header.ani {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .competence-section.active .section__header-description.ani {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .competence-section.active .comp__btn.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }


  .comp-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
    margin-top: 50px;
  }

  .comp-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    height: 75px;
    width: 450px;
    pointer-events: auto;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    cursor: default;
  }


  .comp-list-item.top1 {
    position: absolute;
    -webkit-transform: translate(150px, -150px) scale(0.9);
    -ms-transform: translate(150px, -150px) scale(0.9);
    transform: translate(150px, -150px) scale(0.9);
    opacity: 0.7;
  }

  .comp-list-item.top2 {
    position: absolute;
    -webkit-transform: translate(350px, -250px) scale(0.7);
    -ms-transform: translate(350px, -250px) scale(0.7);
    transform: translate(350px, -250px) scale(0.7);
    opacity: 0.3;
  }

  .comp-list-item.hidden-top {
    -webkit-transform: translate(500px, -350px) scale(0);
    -ms-transform: translate(500px, -350px) scale(0);
    transform: translate(500px, -350px) scale(0);
  }

  .comp-list-item.bottom1 {
    position: absolute;
    -webkit-transform: translate(150px, 150px) scale(0.9);
    -ms-transform: translate(150px, 150px) scale(0.9);
    transform: translate(150px, 150px) scale(0.9);
    opacity: 0.7;
  }

  .comp-list-item.bottom2 {
    position: absolute;
    -webkit-transform: translate(350px, 250px) scale(0.7);
    -ms-transform: translate(350px, 250px) scale(0.7);
    transform: translate(350px, 250px) scale(0.7);
    opacity: 0.3;
  }

  .comp-list-item.hidden-bottom {
    -webkit-transform: translate(500px, 350px) scale(0);
    -ms-transform: translate(500px, 350px) scale(0);
    transform: translate(500px, 350px) scale(0);
  }

  .hidden {
    position: absolute;
    opacity: 0;
    pointer-events: none;
  }

  .center {
    -webkit-transform: translateX(-90px) scale(1);
    -ms-transform: translateX(-90px) scale(1);
    transform: translateX(-90px) scale(1);
    opacity: 1;
  }

  #slider-img {
    width: 473px;
    height: 416px;
    right: -85px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -5;
    pointer-events: none;
  }

  /* score section */

  .score-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    width: 1430px;
    height: 800px;
    margin-left: 350px;
  }

  .score__header-block {
    width: 280px;
    margin-right: 33px;
  }

  .score__header-block .section__header {
    margin-bottom: 125px;
  }

  .score-section.active .section__header.ani {
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .score-section.active .section__header-description.ani {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .score-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: flex-start;
    width: 333px;
    height: 100%;
    position: relative;
    padding: 25px;
    cursor: default;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .score-list__name {
    text-align: center;
    font-weight: bold;
    margin-bottom: 25px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .score-list__name span {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .score-list-item {
    position: relative;
    min-height: 40px;
    font-size: 16px;
    margin-bottom: 18px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .score-list-item:last-child {
     margin-bottom: 0;
  }

  .score-list-item strong {
    font-size: 16px;
    font-weight: bold;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .score-list-item {
    padding-left: 60px;
  }

  .score-list-item:before {
    content: '';
    display: block;
    position: absolute;
    height: 40px;
    width: 35px;
    background: url(../img/score-list-img.svg) center no-repeat;
    background-size: contain;
    top: 0;
    left: 0;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .score-list:hover .score-list-item:before {
    background: url(../img/score-list-img-light.svg) center no-repeat;
    background-size: contain;
  }

  .score-list:hover .score-list__name {
    color: #fff;
  }

  .score-list:hover .score-list__name span {
    color: #fff;
  }

  .score-list:hover {
    background-color: #000;
  }

  .score-list:hover {
    color: #fff;
  }

  .score-list:hover .score-list-item {
    color: #fff;
  }

  .score-list:hover .score-list-item strong {
    color: #fff;
  }

  /* alliance section */

  .alli-container {
    width: 1200px;
    height: 540px;
    position: relative;
    margin-left: 110px;
    margin-bottom: 85px;
  }

  .alli__header-block {
    position: absolute;
    bottom: 84px;
    left: 0;
  }

  .alli__header-block .section__header {
    margin-bottom: 15px;
  }

  .alliance-section.active .section__header.ani {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .alliance-section.active .section__header-description.ani {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .alli-list {
    position: absolute;
    top: 0;
    right: 0;
  }

  .alli-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 74px;
    font-size: 18px;
    line-height: 24px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
    -webkit-transform: translateX(100px);
    -ms-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  .alliance-section.active .alli-list-item.ani {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }

  .alli-list-item.ani:nth-child(2) {
    -webkit-transition-delay: 1.8s;
    -o-transition-delay: 1.8s;
    transition-delay: 1.8s;
  }

  .alli-list-item.ani:nth-child(3) {
    -webkit-transition-delay: 2.1s;
    -o-transition-delay: 2.1s;
    transition-delay: 2.1s;
  }

  .alli-list-item:last-child {
    margin-bottom: 0;
  }

  .alli-list__img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    min-height: 114px;
    margin-left: 45px;
  }

  .alli-list__img img,
  .alli-list__img svg {
    width: 100%;
    height: auto;
  }

  #alli-img {
    width: 877px;
    height: 868px;
    top: 75px;
    right: -475px;
    animation: rotate 25s linear infinite;
  }

  .alli-img-block {
    position: absolute;
    top: -80px;
    left: -200px;
    width: 700px;
    height: 440px;
  }

  #alli-par1 {
    width: 164px;
    height: 187px;
    bottom: 100px;
    left: 285px;
  }

  #alli-par2 {
    width: 206px;
    height: 237px;
    right: 0;
    top: -18px;
  }

  #alli-par3 {
    width: 79px;
    height: 91px;
    bottom: 0;
    left: 167px;
  }

  #alli-par4 {
    width: 95px;
    height: 100px;
    top: 66px;
    left: 200px;
  }

  #alli-par5 {
    width: 35px;
    height: 37px;
    bottom: 192px;
    left: 363px;
  }

  #alli-par6 {
    width: 65px;
    height: 73px;
    top: 80px;
    left: 377px;
  }

  #alli-par7 {
    width: 317px;
    height: 364px;
    bottom: 30px;
    left: 0;
  }

  #alli-par8 {
    width: 448px;
    height: 249px;
    bottom: 68px;
    right: -14px;
  }

  #alli-par9 {
    width: 133px;
    height: 75px;
    bottom: 55px;
    left: 65px;
  }

  /* expert section */

  .expert-container {
    width: 1100px;
    height: 715px;
    margin-left: -10px;
    position: relative;
  }

  .expert__header-block {
    position: absolute;
    bottom: 33px;
    left: 0;
    width: 556px;
  }

  .expert__header-block .section__header {
    margin-bottom: 30px;
  }

  .expert-section.active .section__header.ani {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .expert-section.active .section__header-description.ani {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .expert-block {
    position: absolute;
    top: 25px;
    right: 0px;
  }

  .expert-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 254.5px;
    height: 240px;
  }

  .expert-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: grayscale(1);
    transition: 0.7s;
  }

  .expert-box img:hover {
    filter: none;
  }

  .expert__name-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    width: 280px;
    position: absolute;
  }

  .expert__name {
    white-space: nowrap;
    font-weight: bold;
    line-height: 30px;
    margin-bottom: 5px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .expert__prof {
    font-size: 18px;
  }

  .expert__social {
    width: 22px;
    height: 22px;
    margin-top: 17px;
  }

  .expert__name-box:hover svg path {
    fill: #545454;
  }

  .expert-box:nth-child(1) {
    left: -850px;
  }

  .expert-box:nth-child(1) .expert__name-box {
    top: 5px;
    left: -270px;
  }

  .expert-box:nth-child(2) {
    left: -630px;
    top: 122px;
  }

  .expert-box:nth-child(2) .expert__name-box {
    top: -120px;
    left: 30px;
    width: 253px;
  }

  .expert-box:nth-child(2).expert-bot .expert__name-box {
    top: auto;
    bottom: 0;
    left: -270px;
  }

  .expert-box:nth-child(3) {
    left: -410px;
    top: 244px;
  }

  .expert-box:nth-child(3) .expert__name-box {
    bottom: 0;
    left: -270px;
  }

  .expert-box:nth-child(3).expert-bot .expert__name-box {
    bottom: -120px;
    left: auto;
  }

  .expert-box:nth-child(4) {
    top: 120px;
    left: -188px;
    position: absolute;
  }

  .expert-box:nth-child(4) .expert__name-box {
    top: 0;
    right: -270px;
  }

  .expert-box:nth-child(4).expert-box-top .expert__name-box {
    top: -120px;
    right: auto;
  }

  .expert-box:nth-child(5) {
    top: 376px;
    left: -190px;
    position: absolute;
  }

  .expert-box:nth-child(5) .expert__name-box {
    bottom: 0;
    right: -270px;
  }

  #expert2-img {
    pointer-events: none;
    width: 877px;
    height: 868px;
    bottom: -78px;
    right: -454px;
    animation: rotate 25s linear infinite;
    animation-direction: reverse;
  }

  /* value section */

  .header.black * {
    color: #fff;
  }

  .header__logo svg g path {
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .header.black .header__logo svg g path:nth-child(2),
  .header.black .header__logo svg g path:nth-child(3),
  .header.black .header__logo svg g path:nth-child(7) {
    fill: #fff;
  }

  .header.black .header__btn.active {
    border: 1px solid #fff;
  }

  .header.black .header__btn:hover {
    background-color: #fff;
    color: #000;
  }

  .header.black .header__search svg path {
    fill: #fff;
  }

  .left-container.black * {
    color: #fff;
  }

  .left-container.black .line:before {
    background-color: #fff;
  }

  .left-container.black .line__dot:hover span {
    color: #fff;
  }

  .left-container.black .line__dot.active span {
    color: #fff;
  }

  .left-container.black .line__dot.active span:before {
    background-color: #fff;
  }

  .left-container.black .line__dot.active span:before {
    background-color: #fff;
  }

  .left-container.black .line__dot span:after {
    background-color: #EEEEEE;
  }

  .left-container.black .line__dot.active span:after {
    background-color: #EEEEEE;
  }

  .left-container.black .main__social svg path,
  .left-container.black .main__social svg rect {
    fill: #fff;
  }

  .left-container.black .mail-social__tel svg path {
    fill: #000;
  }

  .left-container.black .mail-social__tel:hover svg rect {
    fill: #545454;
  }

  .left-container.black .main__social:hover .mail-icon path {
    fill: #545454;
  }

  .left-container.black .main__social:hover .facebook-icon path {
    fill: #545454;
  }

  .left-container.black .main__social:hover .instagram-icon path {
    fill: #545454;
  }

  .footer.black * {
    color: #fff;
  }

  .footer.black svg path {
    fill: #fff;
  }


  .footer.black .footer__phone:after {
    background-color: #fff;
  }

  .footer.black .footer__btn {
    border: 1px solid  #fff;
  }

  .footer.black .footer__btn:hover {
    background-color: #fff;
    color: #000;
  }

  .footer.black .footer__line {
    background-color: #fff;
  }


  .value-section {
    background-color: #000;
  }

  .value-section * {
    color: #fff;
  }

  .value-container {
    width: 1115px;
    height: 620px;
    margin-left: 25px;
  }

  .value-list {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 170px;
    padding: 0 50px;
  }

  .value-list-item {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: flex-start;
    font-size: 18px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 1.5s;
    -o-transition-delay: 1.5s;
    transition-delay: 1.5s;
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    transform: translateY(-100px);
    opacity: 0;
  }

  .value-section.active .value-list-item.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .value-section.active .value-list-item.ani:nth-child(2) {
    -webkit-transition-delay: 1.8s;
    -o-transition-delay: 1.8s;
    transition-delay: 1.8s;
  }

  .value-section.active .value-list-item.ani:nth-child(3) {
    -webkit-transition-delay: 2.1s;
    -o-transition-delay: 2.1s;
    transition-delay: 2.1s;
  }

  .value-list__img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: flex-end;
    align-items: flex-end;
    justify-content: center;
    width: 141px;
    height: 123px;
    margin-bottom: 21px;
  }

  .value-list__img img,
  .value-list__img svg {
    max-width: 100%;
    height: auto;
  }

  .value-block {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
  }

  .value__header-block {
    width: 400px;
    margin-top: 157px;
  }

  .value__header-block .section__header {
    margin-bottom: 10px;
  }

  .value-section.active .section__header.ani {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .value-section.active .section__header-description.ani   {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .value__description {
    width: 568px;
  }

  .value__description p {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 40px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transition-delay: 2.6s;
    -o-transition-delay: 2.6s;
    transition-delay: 2.6s;
    -webkit-transform: translateX(25px);
    -ms-transform: translateX(25px);
    transform: translateX(25px);
    opacity: 0;
  }

  .value-section.active .value__description p.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .value-section.active .value__description p.ani:nth-child(2) {
    -webkit-transition-delay: 2.9s;
    -o-transition-delay: 2.9s;
    transition-delay: 2.9s;
  }

  .value-section.active .value__description p.ani:nth-child(3) {
    -webkit-transition-delay: 3.1s;
    -o-transition-delay: 3.1s;
    transition-delay: 3.1s;
  }

  .value__description p:last-child {
    margin-bottom: 0;
  }

  #value-wave1 {
    width: 1610px;
    height: 590px;
    bottom: -325px;
    left: -210px;
  }

  #value-wave2 {
    width: 1610px;
    height: 590px;
    bottom: 150px;
    right: -875px;
  }

  /* partner section */

  .partner-section {
    background-color: #000;
  }

  .partner-section * {
    color: #fff;
  }

  .part-mob-block {
    display: none;
  }

  .part-container {
    width: 1400px;
    height: 700px;
    margin-left: 325px;
    margin-bottom: 10px;
    position: relative;
  }

  .part-block {
    position: absolute;
    top: 0;
    right: 50px;
    width: 1405px;
  }

  .part-block__row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 50px;
  }

  .part-block__row:last-child {
    margin-bottom: 0;
  }

  .part-logo {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
  }

  .part-logo img {
    max-width: 100%;
    max-height: 100%;
  }

  .part-row1 .part-logo {
    max-height: 150px;
  }

  .part-row2 .part-logo {
    max-height: 150px;
  }

  .part-logo-box {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -ms-align-self: stretch;
    align-self: stretch;
    padding: 15px 0;
  }

  .part-logo-box .part-logo {
    max-height: 50px;
  }

  .part-row3 .part-logo {
    max-height: 85px;
  }

  .part-row4 {
    justify-content: flex-end;
  }

  .part-row4 .part-logo {
    max-height: 90px;
    margin-left: 50px;
  }

  .part-row4 .part-logo:first-child {
    margin-left: 0;
  }

  .part__header-block {
    position: absolute;
    bottom: -26px;
    left: 29px;
  }

  .partner-section.active .section__header.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
  }

  .partner-section.active .section__header-description.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    opacity: 1;
  }

  /* last section */

  .last-container {
    width: 940px;
    height: 342px;
    margin-top: -150px;
    margin-left: -130px;
  }

  .last__header-block .section__header {
    margin-bottom: 40px;
  }

  .last__btn {
    width: 413px;
    margin-top: 17px;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    transition-delay: 0s, 0s, 1.5s, 1.5s;
    transition-duration: 0.4s, 0.4s, 0.7s, 0.7s;
    transition-property: background, color, opacity, transform;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
    opacity: 0;
    border-color: #9A2384;
    color: #9A2384;
  }

  .last__btn:hover {
    border-color: #545454;
    color: #fff;
    background-color: #545454;
  }

  .last-section.active .section__header.ani {
    -webkit-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .last-section.active .section__header-description.ani {
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .last-section.active .last__btn.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .last__img-block {
    position: absolute;
    width: 548px;
    height: 653px;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  #last-img1 {
    width: 543px;
    height: 309px;
    right: -233px;
    top: 23px;
  }

  #last-img2 {
    width: 230px;
    height: 259px;
    bottom: -33px;
    right: -155px;
  }

  #last-img3 {
    width: 188px;
    height: 216px;
    bottom: -58px;
    right: 47px;
  }

  #last-img4 {
    width: 167px;
    height: 192px;
    top: 125px;
    right: 192px;
  }

  #last-img5 {
    width: 205px;
    height: 236px;
    top: 205px;
    right: 183px;
  }

  #last-img6 {
    width: 1306px;
    height: 741px;
    top: -289px;
    right: -514px;
  }

  #last-wave {
    width: 1400px;
    height: 1200px;
    bottom: -750px;
    left: -250px;
  }

  /* community page */

  .header.community .header__logo-name {
    text-transform: uppercase;
    font-size: 28px;
  }

  .header.community .header__logo {
    width: 105px;
    height: 96px;
  }

  .community-section {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
  }

  .comm-container {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    justify-content: space-between;
    width: 1250px;
    height: 610px;
    margin-left: 150px;
  }

  .comm__row {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: space-between;
  }

  .comm__box {
    width: 275px;
    height: 270px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
    justify-content: space-between;
    -webkit-transition: 0.7s;
    -o-transition: 0.7s;
    transition: 0.7s;
    -webkit-transform: translateY(-50px);
    -ms-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }

  .comm__box-bot {
    -webkit-transform: translateY(50px);
    -ms-transform: translateY(50px);
    transform: translateY(50px);
    opacity: 0;
  }

  .comm__box.ani {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  .comm__box.ani:nth-child(2) {
    -webkit-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
  }

  .comm__box.ani:nth-child(3) {
    -webkit-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
  }

  .comm__box.ani:nth-child(4) {
    -webkit-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
  }

  .comm-box__name {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-align-items: center;
    align-items: center;
  }

  .comm-box__name strong {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
  }

  .comm-box__name span,
  .comm-box__name a {
    text-align: center;
    font-size: 18px;
    text-decoration-line: underline;
    text-decoration-color: transparent;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
  }

  .comm-box__name a {
    text-decoration-color: #000;
  }

  .comm-box__name a:hover {
    color: #9A2384;
    text-decoration-color: #9A2384;
  }

  .comm-img {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    overflow: hidden;
  }


  .comm-img img,
  .comm-img svg {
    max-width: 100%;
    height: 100%;
  }

  .page.community #last-wave {
    left: -396px;
    bottom: -782px;
  }

  .page.community .left-container .line {
    height: 125px;
  }
}
