body {
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  /* Запрет зума текста на телефоне */
  -webkit-text-size-adjust: 100%;
  /* Сглаживание шрифтов */
  -webkit-font-smoothing: antialiased;
}

body.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

body * {
  margin: 0px;
  padding: 0px;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: normal;
  font-style: normal;
  /* Учёт размеров элементов, включая margin, padding и border */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Исправляет баг скроллинга на IOS */
  -webkit-overflow-scrolling: touch;
  /* Убирает подсветку элемента при касании на телефоне */
  -webkit-tap-highlight-color: transparent;
  /* Убирает базовые стили браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Убирает скругления кнопок на IOS */

input {
  border-radius: 0;
}

/* Удаление кнопок, которые браузер вставляет в input */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

img {
  border: none;
  /* Запрет перетаскивания изображений */
  -webkit-user-drag: none;
}

.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #ff4333;
}

.video {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -3vh;
  bottom: -3vh;
  right: 0;
  left: 0;
  height: 106vh;
  margin: 0 auto;
  -webkit-transition: 0.7s;
  -o-transition: 0.7s;
  transition: 0.7s;
  -webkit-transform: translateY(-120vh);
  -ms-transform: translateY(-120vh);
  transform: translateY(-120vh);
  opacity: 0;
}

.video.active {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
  opacity: 1;
}

.video video {
  height: 100%;
}
