@font-face {
    font-family: 'Gilroy Black';
    src: url('../fonts/Gilroy-Black.woff');
}

@font-face {
    font-family: 'Gilroy Bold';
    src: url('../fonts/Gilroy-Bold.woff');
}

@font-face {
    font-family: 'Gilroy ExtraBold';
    src: url('../fonts/Gilroy-ExtraBold.woff');
}

@font-face {
    font-family: 'Gilroy Regular';
    src: url('../fonts/Gilroy-Regular.woff');
}

@font-face {
    font-family: 'Gilroy SemiBold';
    src: url('../fonts/Gilroy-SemiBold.woff');
}

@font-face {
    font-family: 'Lato Black';
    src: url('../fonts/Lato-Black.woff');
}

@font-face {
    font-family: 'Lato Bold';
    src: url('../fonts/Lato-Bold.woff');
}

@font-face {
    font-family: 'Lato Heavy';
    src: url('../fonts/Lato-Heavy.woff');
}

@font-face {
    font-family: 'Lato Light';
    src: url('../fonts/Lato-Light.woff');
}

@font-face {
    font-family: 'Lato Medium';
    src: url('../fonts/Lato-Medium.woff');
}

@font-face {
    font-family: 'Lato Regular';
    src: url('../fonts/Lato-Regular.woff');
}

@font-face {
    font-family: 'Lato SemiBold';
    src: url('../fonts/Lato-Semibold.woff');
}
