@charset "UTF-8";
@import url(fonts.css);

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Запрет зума текста на телефоне */
  -webkit-text-size-adjust: 100%;
  /* Сглаживание шрифтов */
  -webkit-font-smoothing: antialiased;
}

body.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

body * {
  margin: 0px;
  padding: 0px;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: normal;
  font-style: normal;
  /* Учёт размеров элементов, включая margin, padding и border */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Исправляет баг скроллинга на IOS */
  -webkit-overflow-scrolling: touch;
  /* Убирает подсветку элемента при касании на телефоне */
  -webkit-tap-highlight-color: transparent;
  /* Убирает базовые стили браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Убирает скругления кнопок на IOS */
input {
  border-radius: 0;
}

/* Удаление кнопок, которые браузер вставляет в input */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

img {
  border: none;
  /* Запрет перетаскивания изображений */
  -webkit-user-drag: none;
}

body * {
  font-size: 15px;
  font-family: 'Qanelas Regular', sans-serif;
}

.general-container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}

.container {
  width: 1120px;
  margin: 0 auto;
}

.h1 {
  font-size: 52px;
  letter-spacing: 10px;
  line-height: 82px;
}

.h2 {
  letter-spacing: 0.95px;
  font-size: 52px;
  line-height: 62px;
}

/* HEADER SECTION */

.header-section {
  background: url(../img/main/bg-1.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  padding-bottom: 98px;
}

header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 34px;
  margin-bottom: 121px;
}

.mob-header {
  display: none;
}

.mob-nav {
  display: none;
}

.header-logo {
  width: 157px;
  height: 69px;
}

.header-logo img {
  width: 100%;
  height: 100%;
}

.nav-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 45%;
}

.nav-block__link {
  font-size: 14px;
  color: #ffffff;
  letter-spacing: 1px;
}

.nav-block__link:hover {
  color: #000;
}

.main-header-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.main-header__description {
  font-size: 14px;
  letter-spacing: 5px;
  line-height: 17px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 45px;
}

.main-header {
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin-bottom: 30px;
}

.hidden-list {
  display: none;
}

.main-button-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 100%;
  margin-bottom: 226px;
}

/*  */

.i-search-filter-container {
  display: none;
}


.i-search-filter-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  width: 794.5px;
}

.i-search-filter {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  min-width: 144px;
  padding: 17px 26px;
  border: 1px solid #EAEAEA;
  border-radius: 28px;
  margin-right: 16px;
  font-family: 'Qanelas Medium', sans-serif;
  line-height: 20px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-search-filter__arrow {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 6px;
  margin-left: 41px;
}

.i-search-filter__arrow svg {
  width: 100%;
  height: auto;
}

.i-search-filter:hover {
  background-color: #fff;
  color: #000;
  border: 1px solid #fff;
}

.i-search-filter__arrow svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-search-filter:hover .i-search-filter__arrow svg path {
  fill: #000;
}

/*  */

.main-button {
  font-family: 'Qanelas Medium', sans-serif;
  letter-spacing: 1px;
  padding: 18px 0;
  width: 288px;
  text-align: center;
  border: 1px solid #FFFFFF;
  border-radius: 28px;
  color: #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: uppercase;
  cursor: pointer;
}

.main-button:hover {
  background-color: #fff;
  color: #000;
}

.i-info-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.i-info-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 25%;
}

.i-info-box__img {
  width: 38px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  margin-right: 30px;
}

.i-info-box__img-description {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff;
}

.i-info-box__name {
  font-family: 'Qanelas Bold', sans-serif;
  text-transform: uppercase;
  margin-bottom: 6px;
}

.i-info-box__description {
  line-height: 24px;
}

.mob-info-block {
  display: none;
}

/* REALTOR SECTION */

.realtor-section {
  background: #F7F7F7;
  padding-top: 122px;
  padding-bottom: 96px;
}

.realtor-section .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.i-blog-block {
  width: 608px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.i-blog-block h2{
  margin-bottom: 50px;
}

.i-blog-block p {
  font-family: 'Inter Regular', sans-serif;
  letter-spacing: 0.2px;
  line-height: 24px;
}

.i-blog-block p {
  margin-bottom: 24px;
}

.i-blog__btn {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 160px;
  height: 56px;
  margin-top: 55px;
  font-family: 'Inter SemiBold', sans-serif;
  border: 1px solid #298AB1;
  border-radius: 28px;
  color: #000;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.i-blog__btn:hover {
  background-color: #298AB1;
  color: #fff;
}

.i-human-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 384px;
}

.i-human__img {
  width: 100%;
  height: 397px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  overflow: hidden;
}

.i-human__img img {
  max-width: 100%;
  max-height: 100%;
}

.i-human__date-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 62px;
  padding-top: 43px;
  padding-right: 94px;
}

.i-human__date-box span {
  font-family: 'Inter Regular', sans-serif;
  letter-spacing: 0.2px;
  line-height: 20px;
}

.i-human__date-box strong {
  font-family: 'Inter Bold', sans-serif;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-top: 16px;
}

.i-human__email-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  -ms-align-self: flex-start;
  align-self: flex-start;
  padding-left: 62px;
  margin-top: 35px;
}

.i-email-box__img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.i-email-box__img svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-email-box__img svg {
  width: 100%;
  height: auto;
}

.i-email-box__link {
  padding-left: 8px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-email-box__link:after {
  content: '';
  display: block;
  height: 1px;
  width: 100%;
  background-color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  opacity: 1;
}

.i-human__email-box:hover .i-email-box__img svg path {
  fill: #298AB1;
}

.i-human__email-box:hover .i-email-box__link {
  color: #298AB1;
}

.i-human__email-box:hover .i-email-box__link:after {
  opacity: 0;
}

/* SLIDER SECTION */

.i-slider-section {
  padding: 120px 0;
}

.i-slider__name-box {
  margin-bottom: 48px;
}

.i-slider__name-box .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: center;
  align-items: center;
}

.i-slider__arrow-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 5px;
}

.i-arrow-box__name {
  font-size: 14px;
  letter-spacing: 0.2px;
  margin-right: 16px;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-arrow {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
 -webkit-transition: 0.3s;
 -o-transition: 0.3s;
 transition: 0.3s;
}

.i-arrow svg {
  width: 100%;
  height: auto;
}

.i-arrow svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-slider__arrow-box:hover .i-arrow-box__name {
  color: #298AB1;
}

.i-slider__arrow-box:hover .i-arrow {
  -webkit-transform: translateX(5px);
  -ms-transform: translateX(5px);
  transform: translateX(5px);
}

.i-slider__arrow-box:hover .i-arrow svg path {
  fill: #298AB1;
}

.i-slider-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
}

.i-slider-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 352px;
  height: 460px;
  margin-right: 25px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  overflow: hidden;
  opacity: 0.17;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.i-slider-box:hover {
  border: 1px solid #298AB1;
  box-shadow: 0px 4px 8px rgba(210, 219, 224, 0.597083);
}

.i-slider-box__img {
  width: 100%;
  height: 224px;
  overflow: hidden;
}

.i-slider-box__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.i-slider-box__description-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
  padding: 32px;
  padding-right: 80px;
  color: #000;
}

.i-slider-box__price {
  font-family: 'Qanelas Bold', sans-serif;
  color: #298AB1;
  letter-spacing: 0.2px;
  margin-bottom: 15px;
}

.i-slider-box__name {
  font-family: 'Qanelas Bold', sans-serif;
  letter-spacing: 0.2px;
  margin-bottom: 60px;
}

.i-slider-box__date-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.i-slider-box__date {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 48px;
  height: 40px;
}

.i-slider-date__number,
.i-slider-date__number span {
  font-family: 'Qanelas Bold', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: capitalize;
}

.i-slider-date__number span:after {
  content: '';
  display: inline-block;
  height: 11px;
  width: 2px;
  background-color: #000;
  margin: 0 4px;
}

.i-slider-date__name {
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: center;
  text-transform: capitalize;
}

.slick-active {
  opacity: 1;
}

.slick-dots {
  display: none !important;
}

.i-slider-l-line {
  position: relative;
  width: 100%;
  height: 5px;
  border-radius: 2.5px;
  background-color: #f0f0f0;
}

.i-slider-s-line {
  position: absolute;
  left: 0;
  bottom: 25%;
  display: block;
  z-index: 5;
  height: 3px;
  background-color: #298AB1;
  border-radius: 1.5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* REViEW SECTION */

.i-review-section {
  padding: 120px 0;
  background: url(../img/main/bg-2.jpg) center no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.i-review-section .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.i-review-section__header {
  margin-bottom: 48px;
}

.i-user-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.i-user-img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 80px;
  height: 80px;
  margin-bottom: 24px;
}

.i-user-img img {
  max-width: 100%;
  max-height: 100%;
}

.i-user-name {
  font-family: 'Qanelas Bold', sans-serif;
  letter-spacing: 0.1875px;
  line-height: 32px;
  margin-bottom: 32px;
}

.i-review {
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 1px;
}

.i-review__btn {
  border-color: #fff;
  background-color: #fff;
}

.i-review__btn:hover {
  border-color: #298AB1;
}

/* TIPS SECTION */

.i-tips-section {
  padding-top: 120px;
}

.i-tips-section__header {
  margin-bottom: 53px;
}

.i-tips-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.i-tips-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 32px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  width: 32%;
  color: #000;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.i-tips-box__name {
  font-family: 'Qanelas Bold', sans-serif;
  letter-spacing: 0.2px;
  line-height: 19px;
  margin-bottom: 15px;
}

.i-tips-box__text {
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
}

.i-tips-box__link {
  font-family: 'Qanelas SemiBold', sans-serif;
  color: #298AB1;
}

.i-tips-box__link:after {
  content: '';
  display: block;
  width: 0%;
  height: 2px;
  background-color: #298AB1;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.i-tips-box:hover {
  border: 1px solid #298AB1;
  -webkit-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  transform: translateY(-5px);
  box-shadow: 0px 4px 8px rgba(210, 219, 224, 0.597083);
}

.i-tips-box:hover .i-tips-box__link:after {
  width: 105%;
}

/* FOOTER FORM SECTION */

.footer-form-section {
  padding: 120px 0;
}

.footer-form-section .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.footer-form-section form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  max-width: 448px;
}

.footer-form__header {
  margin-bottom: 48px;
}

.footer-form__input {
  margin-bottom: 24px;
  padding: 18px 16px;
  border: none;
  background: none;
  border: 1px solid #EAEAEA;
  border-radius: 28px;
  width: 100%;
  color: #000000;
  line-height: 20px;
  letter-spacing: 1px;
  resize: none;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.footer-form__input:hover,
.footer-form__input:focus {
  border: 1px solid #298AB1;
}

input::-webkit-input-placeholder,
input::-moz-placeholder {
  color: #000;
  opacity: 1;
}

textarea::-webkit-input-placeholder,
textarea::-moz-placeholder {
  color: #000;
  opacity: 1;
  resize: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}


input.i-blog__btn {
  background: none;
  cursor: pointer;
}

input.i-blog__btn[placeholder] {
  color: #000;
  z-index: 5;
}

.footer-logo-block {
  max-width: 543px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  padding: 156px 100px 88px 100px;
  background-color: #F7F7F7;;
}

.footer-logo {
  width: 100%;
  max-width: 334px;
  height: 146px;
  margin-bottom: 16.5px;
}

.footer-logo img {
  max-width: 100%;
  max-height: 100%;
}

.footer-logo__description {
  font-family: 'Qanelas Bold',sans-serif;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  color: #298AB1;
  line-height: 20px;
  margin-bottom: 99px;
}

.footer-logo__phone {
  font-family: 'Qanelas Medium', sans-serif;
  font-size: 32px;
  letter-spacing: 0.346667px;
  line-height: 39px;
  color: #000;
}

.footer-logo__phone:hover {
  color: #298AB1;
}

/* FOOTER */

footer {
  padding: 63px 0;
}

footer .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.left-block {
  padding: 0;
}

.left-block strong{
  margin: 0;
  margin-bottom: 14px;
}

.left-block span {
  color: #828282;
}

.center-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.footer__phone {
  font-family: 'Qanelas Bold', sans-serif;
  font-size: 15px;
  letter-spacing: 0.346667px;
  line-height: 19px;
  margin-bottom: 13px;
}

.footer__email-box {
  padding: 0;
  margin: 0;
  margin-bottom: 38px;
}

.center-block__description {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #828282;
}

.right-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: space-between;
  -ms-align-items: flex-end;
  align-items: flex-end;
}

.des-logo {
  width: 77px;
  height: 49px;
}

.des-logo img {
  max-width: 100%;
  max-height: 100%;
}

.des-logo__name {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-align: right;
}

.mob-center-block__description {
  display: none;
}

/* !!! LISTING PAGE !!! */

/* L-HEADER */

.l-header-section {
  background: #fff;
  padding: 0;
  box-shadow: 0px 1px 1px #DEDEDE;
}

.l-header {
  margin-bottom: 0;
}

.l-nav-block__link {
  color: #000;
}

.l-nav-block__link:hover {
  color: #298AB1;
}

/* L-TEXT SECTION */

.l-text-section {
  padding: 120px 0;
}

.l-text-section .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.l-text-block {
  width: 746px;
}

.l-text-block h2 {
  margin-bottom: 48px;
}

.l-text-block p {
  font-family: 'Inter Regular', sans-serif;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
}

.l-text__description {
  margin-top: 64px;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #828282;
  width: 170px;
}

.l-text__btn {
  margin-top: 24px;
  width: 100%;
  max-width: 260px;
}

.l-human-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 312px;
}

.l-human-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  width: 100%;
  margin-bottom: 48px;
}

.l-human-box__img {
  width: 120px;
  height: 124px;
  margin-right: 24px;
  border-radius: 5px;
  overflow: hidden;
}

.l-human-box__img img {
  max-width: 100%;
  max-height: 100%;
}

.l-human-box__contacts-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.l-contacts-box__name {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: 'Inter Regular', sans-serif;
  letter-spacing: 0.2px;
  line-height: 20px;
  margin-bottom: 16px;
}

.l-contacts-box__name span {
  font-family: 'Inter Regular', sans-serif;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #828282;
}

.l-contacts-box__number {
  font-family: 'Inter Regular', sans-serif;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #000;
  margin-bottom: 20px;
}

.l-contacts-box__number:hover {
  color: #298AB1;
}

.l-contacts-box__email-box {
  padding-left: 0;
  margin: 0;
}

.l-human-info {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: stretch;
  align-items: stretch;
}

.l-human-info-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-bottom: 24px;
  /* width: 268px; */
}

.l-human-info-box:last-child {
  margin-bottom: 0;
}

.l-human-info-box__img {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 16px;
}

.l-human-info-box__img svg {
  width: 100%;
  height: auto;
}

.l-human-info-box__img-description {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}

.l-human-info-box__name {
  font-family: 'Qanelas Bold', sans-serif;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 8px;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l-human-info-box__description {
  line-height: 24px;
  letter-spacing: 0.2px;
  color: #000;
}

.l-human-info-box__img svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l-human-info-box:hover .l-human-info-box__img svg path {
  fill: #298AB1;
}

.l-human-info-box:hover .l-human-info-box__name {
  color: #298AB1;
}


/* L-SEARCH FILTER BLOCK */

.l-search-section .h2 {
  margin-bottom: 32px;
}

.l-mob-filter-block {
  display: none;
}

.l-search-filter-block {
  margin-bottom: 48px;
  width: auto;
}

.l-search-filter {
  margin-right: 28px;
  color: #000;
}

.l-search-filter:last-child {
  margin-right: 0;
}

.l-search-filter:hover {
  background-color: #298AB1;
  color: #fff;
  border: 1px solid #298AB1;
}

.l-search-filter:hover .l-search-filter__arrow svg path {
  fill: #fff;
}

.tabs-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
}

.tabs {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 64px;
  border: 1px solid #000000;
  border-radius: 28px;
  overflow: hidden;
}

.tab {
  font-family: 'Inter SemiBold', sans-serif;
  width: 160px;
  padding: 18px 0;
  text-align: center;
  letter-spacing: 0.2px;
  line-height: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.tab:hover {
  background-color: #000;
  color: #fff;
}

.tab.active {
  background-color: #000;
  color: #fff;
}

.items {
  width: 100%;
  margin-bottom: 32px;
}

.item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(15px);
  -ms-transform: translateY(15px);
  transform: translateY(15px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.item.active {
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.l-search-result {
  font-family: 'Inter Bold', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.l-search-map-result {
  width: 100%;
  height: 460px;
  border: 1px solid #DEDEDE;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 48px;
}

.l-offer-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  /* justify-content: space-between; */
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 48px;
}

.l-offer-box {
  opacity: 1;
  margin-bottom: 48px;
  margin-right: 32px;
}

.l-offer-box:nth-child(3n+3) {
  margin-right: 0;
}

.l-offer-box:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.l-search-number {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  background-color: #298AB1;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 32px;
  right: 32px;
}

.l-search-number-item {
  font-family: 'Qanelas Bold', sans-serif;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 19px;
  color: #fff;
  position: relative;
}

.l-search-number-item svg {
  position: absolute;
  bottom: -8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: -1;
}

.l-offer-page-number-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.l-offer-page-number {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  padding: 18px 20px;
  border: 1px solid #EAEAEA;
  border-radius: 28px;
}

.l-offer-page-number span {
  font-family: 'Qanelas Medium', sans-serif;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 25px;
  color: #000;
}

.l-arrow {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 10px;
  cursor: pointer;
}

.l-arrow svg {
  width: 100%;
  height: auto;
}

.l-page-number {
  font-family: 'Qanelas Medium', sans-serif;
  line-height: 20px;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 25px;
  cursor: pointer;
  color: #000;
}

.l-page-number:hover {
  color: #298AB1;
}

.l-arrow-left {
  margin-right: 25px;
}

.l-arrow svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l-arrow:hover svg path {
  fill: #298AB1;
}

.l-offer-block-description {
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #828282;
  width: 715px;
}

/* L-IDEA SECTION */

.l-idea-section {
  padding-top: 120px;
}

.l-idea-section .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.l-idea-img {
  width: 543px;
  height: 564px;
}

.l-idea-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-idea-text-block {
  width: 500px;
}

.l-idea-text-block h2 {
  margin-bottom: 64px;
}

.l-idea-text-block p {
  font-family: 'Inter Regular', sans-serif;
  line-height: 24px;
  letter-spacing: 0.2px;
  margin-bottom: 24px;
}

/*!!! LISTINGS-2 PAGE !!!*/

/* L2-SHOW SECTION */

.l2-main-container {
  padding-top: 120px;
}

.l2-main-container .container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
}

.l2-left-container {
  width: 744px;
}


.l2-show-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom: 120px;
}

.l2-link-to-back-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: flex-start;
  padding-left: 5px;
  margin-bottom: 16px;
}

.l2-link-to-back-block:hover .l2-link-to-back__arrow svg path{
  fill: #298AB1;
}

.l2-link-to-back-block:hover .l2-link-to-back__arrow {
  -webkit-transform: translateX(-5px);
  -ms-transform: translateX(-5px);
  transform: translateX(-5px);
}

.l2-link-to-back__arrow {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
  width: 20px;
  height: 20px;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l2-link-to-back__arrow svg {
  width: 100%;
  height: auto;
}

.l2-link-to-back__arrow svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l2-link-to-back {
  font-size: 14px;
  letter-spacing: 0.2px;
  line-height: 20px;
  padding-left: 16px;
  text-transform: capitalize;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l2-link-to-back-block:hover .l2-link-to-back{
  color: #298AB1;
}

.l2-show-block h2 {
  margin-bottom: 48px;
}

.l2-btn-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-bottom: 64px;
}

.l2-btn-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  margin-right: 32px;
}

.l2-btn-icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.l2-btn-icon svg {
  width: 100%;
  height: auto;
}

.l2-btn-icon svg path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l2-btn-name {
  padding-left: 14px;
  font-family: 'Inter SemiBold', sans-serif;
  letter-spacing: 0.2px;
  line-height: 20px;
  color: #000;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.l2-btn-icon.active svg path {
  fill: #298AB1;
}

.l2-btn-name.active {
  color: #298AB1;
}

.l2-btn-box:hover .l2-btn-icon svg path {
  fill: #298AB1;
}

.l2-btn-box:hover .l2-btn-name {
  color: #298AB1;
}

.l2-slider-container {
  width: 100%;
  height: 460px;
  margin-bottom: 48px;
}

.l2-slider-block {
  width: 100%;
  height: 100%;
}

.l2-slider-block img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l2-slider-container .fotorama__arr,
.l2-slider-container .fotorama__fullscreen-icon {
  opacity: 0.2;
}

.l2-slider-block:hover .fotorama__arr,
.l2-slider-block:hover .fotorama__fullscreen-icon {
  opacity: 1;
}

.l2-slider-container .fotorama__arr.fotorama__arr--prev {
  background: none;
  width: 20px;
  height: 32px;
  margin-left: 21px;
  background: url(../img/listings/slider-arrow-left.svg) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.l2-slider-container .fotorama__arr.fotorama__arr--next {
  background: none;
  width: 20px;
  height: 32px;
  margin-right: 21px;
  background: url(../img/listings/slider-arrow-right.svg) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.l2-slider-container .fotorama__fullscreen-icon {
  background: none;
  margin: 24px;
  width: 20px;
  height: 20px;
  background: url(../img/listings/slider-fullscreen-icon.svg) center no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.l2-slider-info-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 64px;
}

.l2-slider-info-box {
  justify-content: flex-start;
  width: 100%;
  max-width: 510px;
}

.l2-slider-info {
  width: auto;
  margin-right: 32px;
}

.l2-slider-info:last-child {
  margin-right: 0;
}

.l2-slider-info__price {
  font-size: 26px;
}

.l2-note-block p {
  font-family: "Inter Regular", sans-serif;
  line-height: 24px;
  letter-spacing: 0.2px;
}

/* L2-DETAILS BLOCK */

.l2-details-container {
  margin-bottom: 64px;
}

.l2-details-container .h2 {
  margin-bottom: 48px;
}


.l2-details-header {
  font-family: 'Qanelas Bold', sans-serif;
  line-height: 20px;
  letter-spacing: 0.2px;
  padding-bottom: 24px;
  border-bottom: 1px solid #F6F6F6;
  margin-bottom: 32px;
}

.l2-details-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.l2-details-block {
  margin-bottom: 48px;
}

.l2-details-block:last-of-type {
  margin-bottom: 0;
}

.l2-details {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.l2-details-name {
  -ms-align-items: flex-start;
  align-items: flex-start;
  margin-bottom: 16px;
  padding-right: 60px;
  height: auto;
}

.l2-details-name:last-child{
  margin-bottom: 0;
}

.l2-details-name .i-slider-date__name {
  text-align: left;
}

/* L2-DETAILS DESCRIPTION BLOCK */

.l2-details-description p{
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #828282;
  margin-bottom: 32px;
}

.l2-details-description p:last-child {
  margin-bottom: 0;
}

.l2-details-description__link {
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #298AB1;
}

/*!!! VALUATION PAGE !!!*/

/* V-LEFT CONTAINER */

.v-left-container .h2 {
  margin-bottom: 48px;
}

.v-left-container form {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.v-form-input-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 24px;
}

.v-form-input {
  width: 48%;
}

.v-form-input:nth-last-child(-n+2) {
  margin-bottom: 0;
}

.v-dropdown-list {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 64px;
}

.v-dropdown {
  width: 48%;
  margin-right: 0;
  margin-bottom: 24px;
}

.v-form-dropdown-box {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.v-dropdown-small {
  width: 48%;
  margin-right: 0;
}

.v-form-text-area {
  width: 100%;
  height: 110px;
  margin-bottom: 8px;
}

.v-textarea-description {
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #828282;
  margin-bottom: 32px;
}

.v-form-input-size-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  position: relative;
  width: 100%;
  max-width: 360px;
  margin-bottom: 8px;
}

.v-form-input-size {
  margin-bottom: 0;
}

.v-form-input-size__item {
  position: absolute;
  right: 16px;
  text-align: right;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #828282;
}

.v-input-size-description {
  margin-bottom: 64px;
}

.v-form-btn {
  width: 260px;
  margin-top: 48px;
  margin-bottom: 32px;
}

.v-form-btn-comment {
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #828282;
  margin-bottom: 20px;
}

.v-form-btn-comment:last-child {
  margin-bottom: 0;
}

/*!!! BUYESRS PAGE !!!*/

/* B-LEFT BLOCK */

.b-info-block {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: flex-start;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 32px;
}

.b-info-box {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  width: 105px;
}

.b-info-box__icon {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -ms-align-items: center;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  margin-bottom: 10px;
}

.b-info-box__icon img {
  max-width: 100%;
}

.b-info-box__name {
  font-family: 'Qanelas Bold', sans-serif;
  line-height: 20px;
  letter-spacing: 0.1875px;
  text-transform: uppercase;
  text-align: center;
}

.b-blog-box p {
  font-family: 'Inter Regular', sans-serif;
  letter-spacing: 0.2px;
  line-height: 24px;
  margin-bottom: 48px;
}

.b-blog-box p:last-of-type {
  margin-bottom: 0;
}

.b-blog-box h1,
.b-blog-box h2,
.b-blog-box h3,
.b-blog-box h4,
.b-blog-box h5,
.b-blog-box h6 {
  font-size: 26px;
  line-height: 32px;
  letter-spacing: 0.35px;
  margin-bottom: 32px;
}
