@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Regular.woff2");
  font-weight: normal;
}
@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Bold.woff2");
  font-weight: bold;
}
@font-face {
  font-family: "Navigo";
  src: url("../fonts/Navigo-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Helvetica";
  src: url("../fonts/HelveticaRegular.woff");
  font-weight: normal;
}
