body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* Запрет зума текста на телефоне */
  -webkit-text-size-adjust: 100%;
  /* Сглаживание шрифтов */
  -webkit-font-smoothing: antialiased;
}

body.no-scroll {
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}

body * {
  margin: 0px;
  padding: 0px;
  outline: 0;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: normal;
  font-style: normal;
  /* Учёт размеров элементов, включая margin, padding и border */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Исправляет баг скроллинга на IOS */
  -webkit-overflow-scrolling: touch;
  /* Убирает подсветку элемента при касании на телефоне */
  -webkit-tap-highlight-color: transparent;
  /* Убирает базовые стили браузера */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Убирает скругления кнопок на IOS */
input {
  border-radius: 0;
}

/* Удаление кнопок, которые браузер вставляет в input */
input::-ms-reveal,
input::-ms-clear {
  display: none;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

img {
  border: none;
  /* Запрет перетаскивания изображений */
  -webkit-user-drag: none;
}

html {
  font-size: 10px;
}

body *{
  font-size: 1.8rem;
  font-family: 'Roboto', sans-serif;
}

/* HEADER */

header {
  display: flex;
  height: 10rem;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #D4D4D4;
}

.logo{
  padding: 3.3rem 3.5rem;
  border-right: 1px solid #D4D4D4;
  cursor: pointer;
}

.logo a {
  display: block;
  background: url(../img/Film..png) center no-repeat;
  background-size: 100%;
  width: 7rem;
  height: 3.5rem;
}

.search {
  margin-left: 3.5rem;
  margin-right: auto;
  background: url(../img/search-icon.svg) left center no-repeat;
  background-size: 1.5rem;
  padding-left: 3.5rem;
  border: none;
  width: 100%;
  height: 100%;
}

.search-adv {
  display: none;
}

.navigations {
  padding-right: 4.5rem;
  width: 175rem;
}

.link {
  margin-left: 2rem;
  color: black;
  transition: 0.3s;
}

.link:hover {
  color: #5671F6;
}

.btn-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  padding: 4rem 3.5rem;
  border: none;
  background: transparent;
  border-left: 1px solid #D4D4D4;
  cursor: pointer;
}

.btn:first-child {
  color: #5671F6;
}

.btn:first-child:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #5671F6;
  transition: 0.3s
}

.btn:first-child:hover:after {
  content: '';
  width: 100%;
}

.btn:last-child {
  padding: 4rem 3.5rem;
  background-color: #5671F6;
  color: #fff;
}

.btn:last-child:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #fff;
  transition: 0.2s
}

.btn:last-child:hover:after {
  content: '';
  width: 100%;
}

.menu-adv {
  display: none;
}

.menu-btn-adv {
  display: none;
}

/* MAiN */

main {
  padding: 8rem 15rem;
  border: 1px solid #D4D4D4;
}

.movie-content {
  display: flex;
  justify-content: center;
}

.movie-box {
  display: inline-block;
  vertical-align: top;
  width: 35rem;
}

.tablet-img {
  display: none;
}

.movie-box__img {
  width: 100%;
  height: 46rem;
  overflow: hidden;
}

.movie-box .movie-box__btn{
  padding: 2.5rem;
  padding-left: 5.5rem;
  color: #5671F6;
  margin: 0;
  border: 1px solid #D4D4D4;
  width: 100%;
  background: transparent;
  position: relative;
}

.movie-box__btn p{
  display: inline-block;
}

.movie-box .movie-box__btn p:after {
  content: '';
  display: block;
  background-color: #5671F6;
  margin: 0 auto;
  transition: 0.4s;
  height: 1px;
  width: 100%;
  transform: scaleX(0%);
}

.movie-box__btn p:hover:after {
  transform: scaleX(100%);
}

.movie-box__btn p:before {
  content: '';
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  background: transparent url(../img/play-icon.svg) center center no-repeat;
  background-size: cover;
  position: absolute;
  left: 7.7rem;
  top: 2.3rem;
}

.description-box {
  display: inline-block;
  width: 52rem;
  margin-left: 5rem;

}

.movie-name {
  font-weight: 900;
  font-size: 3.6rem;
}

.movie-subname {
  color: #A5A5A5;
  margin-top: 1.5rem;
}

.description {
  margin-top: 3rem;
  font-size: 1.4rem;
}

.details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 8rem;
  margin-top: 5rem;
}

.details__content {
  display: inline-block;
  font-size: 1.4rem;
  font-weight: 700;
  width: 10rem;
}

.details__content-description {
  display: inline-block;
  font-size: 1.4rem;
}

.rating-box {
  margin-top: 5rem;
  display: flex;
}

.rating {
  display: inline-block;
  width: 10rem;
  height: 10rem;
  border: 1px solid #5671F6;
  text-align: center;
  line-height: 10rem;
  font-size: 2.8rem;
  color: #5671F6;
  border-radius: 10px;
  font-weight: 700;
}

.rating-description {
  margin-top: 0.5rem;
  margin-left: 2rem;
  line-height: 3rem;
}

.rating-description strong {
  font-weight: 700;
}

/* ACTORS */

.actors-container {
  padding: 7rem 18rem 10rem 15rem;
}

.actors-container__name {
  font-size: 2.4rem;
  font-weight: 900;
}

.actors-container__name .tab {
  cursor: pointer;
  display: inline-block;
}

.actors-container__name .tab:after {
  content: '';
  display: block;
  height: 1px;
  width: 0%;
  background-color: #D4D4D4;
  margin: 0 auto;
  transition: 0.2s
}

.actors-container__name .tab:hover:after {
  width: 100%;
}

.actors-container__name .active {
  color: black;
  font-weight: 700;
}

.actors-container__name .active:hover:after {
  content: '';
  display: none;
}

.actors-container__name span {
  font-size: 2.4rem;
  margin-left: 3rem;
  font-weight: 400;
  color: #A5A5A5;
}

@keyframes change {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.actors-block {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tab-content .active {
  animation: change 1s linear;
}

.actors-box {
  width: 25%;
  display: flex;
  margin-bottom: 3.5rem;
}

.actors-box__img {
  cursor: pointer;
  display: inline-block;
  width: 10rem;
  height: 10rem;
  overflow: hidden;
  border-radius: 50%;
  background-position: center center;
  background-size: cover;
}

.actors-box__img img{
  width: 100%;
  height: 100%;
}

.actors-box__name {
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin-left: 2rem;
}

.actors-name {
  color: #5671F6;
  font-size: 1.6rem;
  font-weight: 700;
}

.actors-name:first-child {
  color: #5671F6;
}

.actors-name:first-child:after {
  content: '';
  display: block;
  width: 0%;
  height: 1px;
  background-color: #5671F6;
  transition: 0.3s
}

.actors-name:first-child:hover:after {
  content: '';
  width: 100%;
}

.actors-name__eng {
  margin-top: 1rem;
  color: #A5A5A5;
  font-size: 1.6rem;
}

/* NEWS */

.news-container {
  padding: 7rem 15rem 10rem 15rem;
  background-color: #E5E5E5;
}

.news-container__name {
  font-size: 2.4rem;
  font-weight: 900;
}

.news-block {
  margin-top: 6.5rem;
}

.news-block .news-slider {
  background-color: #fff;
  padding: 2.4rem;
  border: 1px solid white;
  transition: 0.2s;
}

.news-slider:last-child {
  margin-right: 0;
}

.news-box {
  display: block;
  color: black;
}

.news-slider:hover {
  border: 1px solid #5671F6;
}

.date {
  font-size: 1.4rem;
  margin-bottom: 1.5rem;
}

.new {
  font-size: 1.4rem;
  font-weight: 700;
}

/* MODAL */

.modal {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-box {
  position: absolute;
  top: 10%;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  width: 70%;
  height: 70%;
}

.modal-close {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: -17px;
  background: transparent;
  border: none;
  font-size: 20px;
  color: white;
}
