/* Fonts */

/* Inter */

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Regular.woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Medium.woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-SemiBold.woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Bold.woff2");
  font-weight: 800;
}

/* REM */

@font-face {
  font-family: "REM";
  src: url("../fonts/REM-Light.woff2");
  font-weight: 300;
}

@font-face {
  font-family: "REM";
  src: url("../fonts/REM-Bold.woff2");
  font-weight: 800;
}
